/* General Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body Styling */
body {
  /* background: #222; */
  /* color: #fff; */
  font-family: "Press Start 2P", cursive;
  font-size: large;
  font-weight: 40px;
}
.mode {
  float: right;
  margin: 10px;
}
.change {
  cursor: pointer;
  border: 1px solid #93c572;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
}
.dark {
  background-color: #222;
  color: #e6e6e6;
}

/* Container */
.crud {
  width: 80%;
  margin: auto;
}

/* Header */
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  font-family: "Press Start 2P", sans-serif;
}
.head p {
  margin: 10px 0;
}
#deleteAll {
  margin: 20px 0;
}

/* Inputs */
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #111;
  margin: 4px 0;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}

input:focus {
  background: #000;
  transform: scale(1.1);
}

.price input {
  width: 20%;
}

/* Total */
#total {
  background: #a00d02;
  padding: 9px 9px;
  border-radius: 4px;
  margin-top: 5px;
  float: right;
}

#total::before {
  content: "Total: ";
}

/* Buttons */
button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #93c572;
  color: #000;
  border-radius: 20px;
  transition: 0.5px;
}

button:hover {
  background: #93c572;
  letter-spacing: 2px;
}

.btnSearch {
  display: flex;
  justify-content: space-between;
}

.btnSearch button {
  width: 45%;
}

/* Table */
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

table th {
  text-transform: uppercase;
}

td,
th {
  padding: 5px;
}
